@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #46b8c8;
  --brand-orange: #fb8958;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CircularStd", sans-serif;
}
