@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #46b8c8;
  --brand-green-dark: #3098a6;
  --brand-orange: #fb8958;
  --text-gray: #3d4f5c;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CircularStd", sans-serif;
}
