@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #46b8c8;
  --brand-green-dark: #3098a6;
  --brand-orange: #fb8958;
  --text-gray: #3d4f5c;
  --back-gray: #fbfafa;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes custom-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Adjust for less bounce */
  }
  60% {
    transform: translateY(-5px); /* Adjust for less bounce */
  }
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CircularStd", sans-serif;
}
