.header1 {
  font-size: 85px;
  font-weight: 700;
  line-height: 85px;
  color: var(--text-gray);
  margin: 0;
}

.header2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: var(--text-gray);
  margin: 0;
}

.yellowHeader3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: var(--brand-orange);
  margin: 0;
}

.yellowParagraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: var(--brand-orange);
  margin: 0;
}

.blackParagraph {
  font-size: 30px;
  line-height: 38px;
  color: var(--text-gray);
  font-weight: 400;
  margin: 0;
}

.yellowNumberSpan {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: var(--brand-orange);
  margin: 0;
}

.cardTitles {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.cardSubtitles {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .header1 {
    font-size: 64px;
    line-height: 70px;
  }

  .header2 {
    font-size: 40px;
    line-height: 46px;
  }

  .yellowNumberSpan {
    font-size: 22px;
    line-height: 28px;
  }

  .blackParagraph {
    font-size: 24px;
    line-height: 30px;
  }

  .yellowParagraph {
    font-size: 20px;
    line-height: 26px;
  }

  .yellowHeader3 {
    font-size: 32px;
    line-height: 38px;
  }

  .cardTitles {
    font-size: 24px;
    line-height: 30px;
  }

  .cardSubtitles {
    font-size: 14px;
    line-height: 18px;
  }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  .header1 {
    font-size: 32px;
    line-height: 36px;
  }

  .header2 {
    font-size: 24px;
    line-height: 28px;
  }

  .yellowNumberSpan {
    font-size: 18px;
    line-height: 24px;
  }

  .blackParagraph {
    font-size: 18px;
    line-height: 24px;
  }

  .yellowParagraph {
    font-size: 18px;
    line-height: 24px;
  }

  .yellowHeader3 {
    font-size: 24px;
    line-height: 30px;
  }

  .cardTitles {
    font-size: 18px;
    line-height: 24px;
  }

  .cardSubtitles {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 400px) {
  .yellowHeader3 {
    font-size: 18px;
  }
}
